body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.slide-wrapper {
  margin-top: 10vh;
  overflow: hidden;
}
.slide-wrapper:active {
  cursor: grabbing;
}

.slide {
  display: flex;
  gap: 30px;
  /* transform: translate3d(-200px,0,0); */
}

.slide li {
  list-style: none;
  flex-shrink: 0;
  max-width: 700px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .slide li {
    max-width: 300px;
  }
}
